.wrapperB{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 2rem;
    justify-content: center;
    gap: 4rem;
    height: 80%;
    
}

.wrapperB img{
    width: 30rem;
}

.bodyW{
    padding: 6rem 0 0 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    gap: 2rem;
}

.bodyW h1{
    font-size: 5rem;
}

.bodyW button{
    width: 8rem;
    border-radius: 0.5rem;
    padding: 0.4rem;
    background-color: black;
    color: white;
    font: bold
}

.bodyW button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.bodyF{
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding: 9rem 0 0 0;
}

.bodyF img{
    width: 5rem;
    height: 2rem;
}
