.wrapper {
    width: 100%;
    display: flex;
    font-size: 3rem;
    align-items: center;
    padding: 1rem;
}

.top{
    display: flex;
    align-items: center;
    width: 80%;
}

img{
    margin: 0 2rem;
    width: 8rem;
    height: 7rem;
    fill: blue;
}

.T-tabs, li{
    padding: 0 0.2rem;
    font-size: 3rem;
    width: 100%;
    list-style: none;
    display: flex;
    justify-items: space-evenly;
    gap: space-evenly;
}

li {
    font-size: 2rem;
}


.B-tabs{
    padding-right: 1rem;
    margin-left: 5%;
    font-size: 2rem;
    display: flex;
    gap: 2rem;
}

.B-tabs button{
    font-size: 1.8rem;
    background-color: white;
    border-radius: 0.3rem;
    padding: 0.15rem;
}

.feat{
    position: relative;
}

.featB{
    position: absolute;
    top: 14%;
    left: 9%;
    width: fit-content;
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.3rem;
    transition: 0.3ms down ease;
}

.Comp{
    position: relative;
}
.compB{
    position: absolute;
    top: 14vh;
    left: 35vw;
    width: fit-content;
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.3rem;
    transition: 0.3ms down ease;
}
.bar{
    display: none;
}

@media (max-width: 735px){
    .wrapper{
        position: relative;
        
    }
   
    .top{
        display: flex;
        flex-direction: column;
        
    }

    .B-tabs, .T-tabs{
        display: none;
    }

    .t{
        z-index: 2;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 4rem;
        left: 10rem;
    }

    .B{
        z-index: 2;
        margin-top: 2rem;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 13rem;
        left: 10rem;
    }

    .active{
       
    }

    .top img{
        position: absolute;
        top: 0.1rem;
        left: 0.5rem;

    }
    .bar{
        display: pointer;
        z-index: 5;
        display: flex;
        width: 3rem;
        height: 3rem;
        right: 0rem;
        align-items: center;
    }

    .transition{
        transition: 0.9ms ease;

    }
    .resBar{
        position: absolute;
        top: 0;
        right: 0;
        background: blue;
        width: 60%;
        height: 70rem;


    }

}
