.wrapper {
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    padding: 1rem;
}

.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
    width: 80%;
}

img{
   display: flex;
   left: 0;
}

.T-tabs, li{
    padding: 0 0.2rem;
    font-size: 18px;
    width: 100%;
    list-style: none;
    display: flex;
}

li {
    margin-left: 1rem;
    justify-content: space-around;
    font-size: 1.5rem;
}


.B-tabs{
    padding-right: 1rem;
    margin-left: 5%;
    display: flex;
    gap: 2rem;
}

.B-tabs button{
    font-size: 1.2rem;
    background-color: white;
    color: black;
    border-radius: 0.3rem;
    padding: 0.2rem;
}

.B-tabs button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.feat {
    position: relative;
    cursor: pointer;
}


.featB{
    position: fixed;
    top: 10%;
    left: 5%;
    width: fit-content;
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.3rem;
    transition: 0.3ms bottom;
}
.icons{
    display: flex;
    margin-top: 0.3rem;
    padding: 0.2rem;

}

.Comp{
    position: relative;
    cursor: pointer;
}
.compB{
    position: fixed;
    top: 10%;
    left: 20%;
    width: fit-content;
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.3rem;
    transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s;
    overflow: hidden;

}

.featB li, .compB li{
    margin: 0rem;
    display: flex;
    justify-content: left;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    gap: 0.2rem;
}
.featB li:hover, .compB li:hover{
    cursor: pointer;
}


li img{
    height: 1rem;
    padding: 0 0.8rem 0 0;
}

.bar{
    display: none;
}

@media (max-width: 375px){
    .wrapper{
        position: relative;
        
    }
   
    .top{
        display: flex;
        flex-direction: column;
        
        
    }
    .top img{
        margin: 1rem 0 0 0.5rem;
        position: absolute;
        top: 0.1rem;
        left: 0.5rem;
    
    }
    
    .B-tabs, .T-tabs{
        display: none;
    }

    .t{
        z-index: 2;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 4rem;
        left: 10rem;
    }

    #feat img{
        position: fixed;
        top: 3.3rem;
        left: 16rem;
    }

    .Comp img{
        position: fixed;
        top: 5.1rem;
        left: 16.5rem;
    }

    .t li, .B li{
        justify-content: left;
    }

    .B{
        z-index: 2;
        margin-top: 2rem;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 13rem;
        left: 10rem;
        gap: 2rem
    }

    .B button {
        width: 100%;
        font-size: 1.2rem;
        background-color: white;
        border-radius: 0.8rem;
        padding: 0.5rem 3rem;
    }

    .icons{
        display: flex;
        margin-top: 0.3rem;
        padding: 0.2rem;
    
    }

    .bar{
        display: pointer;
        z-index: 5;
        display: flex;
        right: 0rem;
        align-items: center;
    }

    .transition{
        transition: 0.9ms ease;

    }
    .resBar{
        transition:linear;
        position: fixed;
        top: 0;
        right: 0;
        background-image: linear-gradient( to left,
        rgb(255, 255, 255) 0%,
        rgb(255, 255, 255) 60%,
        rgba(0, 0, 0, 0.2) 6%,
        rgba(0, 0, 0, 0.2) 100%);
        width: 100%;
        height: 80%;
    }

    .compB{
        display: block;
        position: fixed;
        top: 2rem;
    }

    .featB li, .compB li{

        width: fit-content;
        margin: 0rem;
        display: flex;
        justify-content: left;
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
}
}